

#wrapper{
	background-color: silver;
	text-align: center;
	font-size: 30px;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

#start{
	font-size: 30px;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	
}